/* App-level utilities */

.align-center { align-items: center; }
.text-center { text-align: center; }
.city-img-container img { width: 100%; }

.mt-20 { margin-top: 1.25rem; }
.mt-30 { margin-top: 1.875rem; }
.mt-40 { margin-top: 2.5rem; }
.mt-50 { margin-top: 3.125rem; }
